*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
}


.divCierre{
   border:1px solid #1f53c5;
   
    margin-top: 150px;
    color:white;
    text-align: center;
    padding: 30px;
    margin: auto;
   
}

.divCierre h3{
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    line-height: normal;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.divCierre a  {
 
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
   
}

.divCierre a:hover{
    border-radius: 50px;
    background-color: #0d6efd;
}