.cajaListado{
  background-color: #266aa7;
    font-family: arial, sans-serif;
    width: 50%;
    margin: auto;
    margin-top: 200px;
    padding:10px;
}

.cajaListado h1{
    color: white;
    padding: 15px;
}

table {
    background-color: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
   
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .busqueda{
   
      display: inline;
  
      padding: 0px;
  }
  
   .busqueda select{
    
        width: 30%;
        background: #266aa7;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 2px solid #1f53c5;
        font-family: 'calibri';
        font-size: 18px;
        color: white;
  }
 .busqueda input{
    
        width: 10%;
        background: #1f53c5;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 2px solid #1f53c5;
        font-family: 'calibri';
        font-size: 18px;
        color: white;
  }
  
  .busqueda label{
    
       
        padding: 10px;
       
        margin-bottom: 16px;
        border: 2px solid #1f53c5;
        font-family: 'calibri';
        font-size: 18px;
        color: white;
  }